@tailwind base;
@tailwind components;
@tailwind utilities;


body,html{
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    
    
}
body{
    overflow: hidden;
    font-family: 'Caveat', sans-serif;
}


#taskForm,#showDetails{
    position: absolute;
    z-index: 100;
    height: 64%;
    width: 30%;
    top: 18%;
    left: 45%;
}

#projectForm,#showprojectDetails {
    position: absolute;
    z-index: 100;
    height: 37%;
    width: 25%;
    top: 28%;
    left: 45%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


#taskForm,#showDetails,#projectForm{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#explorer{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.tasks{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    @apply w-11/12 h-16 m-3 flex;
    font-family:  sans-serif;

}
.check-span{
    @apply h-full w-10 flex items-center;
}

.check-input{
    @apply transform scale-150 w-3 ml-3 cursor-pointer;
}

.date-task{
@apply  w-11/12 flex flex-col  h-full;
}

.task-disp{
    @apply w-11/12 h-1/2 font-semibold text-green-800 break-words ml-2 mt-3 flex items-center;

}

.date-disp{
    @apply  w-11/12 h-1/2  ml-2 text-sm text-blue-600 break-words flex items-center;

}

.task-items,.project-items{
   overflow-x: hidden;
    overflow-y: auto;
}


.line-strike{
    text-decoration: line-through;
}


.detail-icon,.del-icon{
    @apply mt-5 mr-6 cursor-pointer active:text-slate-400
}


.del-icon{
    @apply mr-12 text-xl active:text-red-600;
}

form,button{
    font-family: sans-serif;
}

.project-menus{
    @apply  flex items-center h-10 mb-2 rounded cursor-pointer gap-2 mx-3 px-3 hover:bg-slate-300 hover:bg-opacity-10 transition-all;
}
.project-span{
    @apply text-xl w-40 font-thin;
}
.check-input{
    accent-color: rgb(24, 180, 24);
}
