@tailwind base;
@tailwind components;
@tailwind utilities;


body,html{
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    
    
}
body{
    overflow: hidden;
}


#taskForm,#showDetails{
    position: absolute;
    z-index: 100;
    height: 55%;
    width: 30%;
    top: 20%;
    left: 45%;
}


#taskForm,#showDetails{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#explorer{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.tasks{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    @apply w-11/12 h-16 m-3 flex;
}
.check-span{
    @apply h-full w-10 flex items-center;
}

.check-input{
    @apply transform scale-150 w-3 ml-3 cursor-pointer;
}

.date-task{
@apply  w-11/12 flex flex-col  h-full;
}

.task-disp{
    @apply w-11/12 h-1/2 font-semibold text-green-800 break-words ml-2 mt-3 flex items-center;

}

.date-disp{
    @apply  w-11/12 h-1/2  ml-2 text-sm text-blue-600 break-words flex items-center;

}

.task-items{
   
    overflow-y: auto;
}


.line-strike{
    text-decoration: line-through;
}


.detail-icon,.del-icon{
    @apply mt-5 mr-6 cursor-pointer active:text-slate-400
}


.del-icon{
    @apply mr-12 text-xl active:text-red-600;
}